footer {
	width: 100%;
	height: 130px;
	background-color: $color-primary;

	.footer-inner {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		max-width: 1200px;
		height: 100px;
		margin: 20px auto 0;
		color: $white;

		@include e(contact) {
			flex: 1;

			a {
				color: $white;
				text-decoration: none;
			}
		}
		@include e(logo) {
			display: flex;
			flex-direction: column;
			flex: 1;

			img {
				width: 40px;
				margin: 0 auto;
			}
			p {
				font-size: 12px;
				text-align: center;
				margin: 10px 0;
			}
		}
		@include e(registration) {
			flex: 1;
			text-align: right;
		}
	}
}