footer {
	width: 100%;
	height: auto;
	background-color: $black;

	.footer-inner {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		color: $color-secondary;

		@include e(contact) {
			flex: 1;

			a {
				color: $color-secondary;
				text-decoration: none;
			}
		}
		@include e(logo) {
			display: flex;
			flex-direction: column;
			flex: 1;

			img {
				width: 40px;
				margin: 0 auto;
			}
			p {
				text-align: center;
				margin: 5px 0;
			}
		}
		@include e(registration) {
			flex: 1;
			text-align: right;
		}
	}
}