header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 120px;
	margin: 0 auto;
	background-color: $white;

	.nav-logo {
		margin: 10px;

		img {
			width: 120px;
		}
	}
	@import '../components/_nav.scss';
}