header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	height: 120px;
	margin: 0 5%;
	background-color: $white;
}
@media (max-width:768px) {
	header {
		height: 100px;
		justify-content: center;
	}
}