@import './base/_normalize.scss';
@import './base/_config.scss';
@import './base/_base.scss';
@import './base/_utilities.scss';
@import './base/_helpers.scss';
@import './layout/_header';
@import './layout/_footer';
@import './components/_nav.scss';
@import './components/_slider.scss';
@import './pages/_contact.scss';
@import './pages/_services.scss';