/* Base Styles ------------------ */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: $base__font-size;
	line-height: $base__line-height;
	font-family: $font-family--primary;
	color: $color-primary;
	letter-spacing: 1px;
}

.page-wrapper {
	overflow: hidden;
	min-width: 100%;
}

// sticky footer 
.home-content, .contact-content, .services-content, .about-content, .page-wrapper {
	flex: 1;
}
ul {
	list-style-type: none;
	padding: 0;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: $white;
}

@media (max-width:768px) {
	h1 {
		font-size: 20px;
		font-weight: $font-weight--bold;	
	}
	p {
		text-align: left;
		font-size: 14px;
		font-weight: $font-weight--medium;
	}
	li {
		font-size: 14px;
	}
}