/* Base Styles ------------------ */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: $base__font-size;
	line-height: $base__line-height;
	font-family: $font-family--primary;
	color: $color-primary;
	background-color: rgba(0, 0, 0, .1);
}
.main-content {
	flex: 1;
}
ul {
	list-style-type: none;
	padding: 0;
}