// =====================================================
// Global Config
// =====================================================

// Font Stacks

$font-family--primary	:	'Panton', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$font-family--secondary	: 'Helvetica Neue', Helvetica, Arial, sans-serif; 

// Font Weights

$font-weight--thin		: 100;
$font-weight--light		: 300;
$font-weight--medium	: 400;
$font-weight--bold		: 700;
$font-weight--ultra-bold: 900;

// Descriptive Base Colors

$white		: #fff;
$black		: #000;

$prussian-blue	: #002749;
$cerulean		: #00aeea;
$malibu			: #64ceff;


		/* ^^ name that color tool kit */

// Color Usage

$color-primary		: $prussian-blue;
$color-secondary	: $cerulean;
$color-footer		: $malibu;

// Text

$base__font-size	:16px;
$base__line-height	:1.5;

$components__nav-font-size: 14px;