.contact-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 90%;
	max-width: 1200px;
	margin: 50px auto;
	text-align: center;

	@include e(contact-info) {
		width: 25%;

		p {
			margin: 0;
			text-align: left;
		}
		ul {
			margin: 20px 0;
			text-align: left;

			li {
				margin: 5px 0 0;

				a {
					text-decoration: underline;
					color: $color-primary;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	@include e(query) {
		width: 40%;
		margin: 0 5%;

		input {
			display: block;
			margin: 10px auto;
			width: 80%;
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 3px;
		}
		textarea {
			display: block;
			margin: 10px auto;
			width: 80%;
			height: 200px;
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 3px;
		}
		.ContactFormSubmit {
			background-color: $white;
		}
	}
	@include e(map) {
		width: 25%;
		margin-top: 50px;

		iframe {
			width: 100%;
		}
	}
}
@media (max-width:1006px) {
	.contact-content {
		flex-wrap: wrap;

		@include e(contact-info) {
			width: 45%;
			padding: 0 0 0 5%;
		}
		@include e(query) {
			width: 45%;
		}
		@include e(map) {
			width: 100%;
		}
	}
}
@media (max-width:630px) {
	.contact-content {
		margin: 20px auto 50px;

		@include e(contact-info) {
			width: 80%;
			margin: 0 auto;
			padding: 0;

			p {
				text-align: center;
			}
			ul {
				text-align: center;
			}
		}
		@include e(query) {
			width: 80%;
			margin: 20px auto;
		}
		@include e(map) {
			width: 80%;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
}